certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
decorator==4.4.2
et-xmlfile==1.1.0
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
imageio==2.35.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.1.2
opencv-python==4.10.0.84
openpyxl==3.1.5
pandas==2.2.3
pillow==10.4.0
proglog==0.1.10
psutil==6.0.0
pycparser==2.22
pyheif==0.8.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
urllib3==2.2.3
